name: Generate Pac-Man Contribution Graph

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Pac-Man SVG
        uses: Platane/snk@v3
        with:
          github_user_name: R4i5and0
          outputs: |
            dist/github-contribution-grid-pacman.svg
            dist/github-contribution-grid-snake.svg

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: snk
          path: dist
